<span>
    <ng-content/>
  </span>

<!--<ng-content select=".icon"/>-->

<!--<button aria- aria-label="otwórz menu" (click)="openHambuger">|||</button>-->

<!--to służy do rzutowania projekcji do elementu nadrzędnego-->
<!--<span class="icon">-->
<!--  możliwość dodania zawartości pomiędzy ng-conntent pojawiła się w najnowszej wersji Angulara-->
  <!--  pozwala ona na wyświetlenie zawartości wewnątrz ng-content w przypadku gdy nie zostanie spełniony selektor-->
  <ng-content select="icon">
    ➤
  </ng-content>
<!--</span>-->
