<!--<article>-->
<!--  <header>-->
<!--    <img src="status.png" alt="A signal symbol" />-->
<!--    <h2>Server Status</h2>-->
<!--  </header>-->
<!--wiązanie właściwości do klasy-->
<div
  [class]="{
  status: false,
    'status-online':currentStatus === 'online' ,
    'status-offline':currentStatus === 'offline',
    'status-unknown':currentStatus === 'unknown'
  }">

  <!--wiązanie właściwości do stylu-->
  <!--  [style.fontWeight] = currentStatus === 'offline' ? 'bold' : 'normal';>-->
  <!--  [style]="{-->
  <!--  'background-color': currentStatus === 'online' ? '#c3e6cb' : currentStatus === 'offline' ? '#f5c6cb' : '#c6c6c6',-->
  <!--  }"-->
  <!--&gt;-->
  @if (currentStatus === 'online') {
    <p>Servers are online</p>
    <p>All systems are operational.</p>
  } @else if (currentStatus === 'offline') {
    <p>Servers are offline</p>
    <p>Functionality should be restored soon.</p>
  } @else {
    <p>Server status is unknown</p>
    <p>Fetching server status failed.</p>
  }
</div>
<!--</article>-->
