<app-header/>

<main>
  <div id="dashboard">
    <!--    [] -> kod pomiędzy tymi nawaiasami kwadratowymi zostanie zastąpiony przez kod z komponentów. -->
    <!--    jest to kod który angular rozumie jako kod TypeScript-->
    <!--    zostawiając zwykły tekst w utworzonym komponencie bez nawiasów lub interpolacji angular uznaje to za zwykły tekst.-->
    <app-dashboard-item [image]="{url: 'status.png' , alt: 'A signal symbol'}" title="Server Status">
      <app-server-status/>
    </app-dashboard-item>
    <app-dashboard-item [image]="{url: 'globe.png' , alt: 'A globe symbol'}" title="Traffic">
      <app-traffic/>
    </app-dashboard-item>
    <app-dashboard-item [image]="{url: 'list.png' , alt: 'A traffic symbol'}" title="Tickets">
      <app-tickets/>
    </app-dashboard-item>

  </div>

</main>

<!--dodatkowy komponent do sprawdzenie działania cyklu życia komponentu-->
<!--<app-lifecycle-view/>-->

<!--dodatkowy komponent do sprawdzenia działania wiązań dwukierunkowych-->
<app-rect-view/>
