<!--<from (ngForm)="">-->
<!--<form (ngSubmit)="onSubmit(titleInput, descriptionInput, form)" #formHTML>-->
<form (ngSubmit)="onSubmit(titleInput, descriptionInput)" #formHTML>
  <app-control nameLabel="Title">
    <input id="title" name="title" type="text" #titleInput>
  </app-control>
  <app-control nameLabel="Request">
    <textarea id="Request" name="Request" rows="3" #descriptionInput></textarea>
  </app-control>
  <p>
    <button appButton>
      Submit
      <!--      <span class="icon">➞</span>-->
      <span ngProjectAs="icon">➞</span>
    </button>

  </p>
</form>
